.access {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../EUflag.svg");
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover; /* Aggiunto per coprire tutto lo sfondo */
    padding: 20px; /* Aggiunto spazio ai lati per mobile */
    box-sizing: border-box; /* Include il padding nella larghezza/altezza */
}

.access_container {
    border-radius: 20px; /* Aumentato per un look più moderno */
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e7f9fc;
    padding: 30px;
    width: 100%; /* Cambiato da max-width a width con max-width */
    max-width: 400px; /* Larghezza massima fissata */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Aggiunta ombra per profondità */
    margin: 0 auto; /* Doppia sicurezza per il centraggio */
}

.access_header h2 {
    margin-bottom: 10px;
    font-size: clamp(18px, 5vw, 24px); /* Testo responsive */
    color: #034499; /* Colore coordinato con il tema */
}

.access_header p {
    margin: 10px 0 20px;
    font-size: clamp(12px, 3vw, 16px); /* Testo responsive */
    color: #383838;
    line-height: 1.4;
}

.access_btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px solid #023476;
    color: white;
    background-color: #034499;
    cursor: pointer;
    transition: background-color 0.3s;
}

.access_btn:hover {
    background-color: #023476;
}

.route_register {
    font-size: clamp(12px, 3vw, 14px);
    margin-top: 10px;
    color: #383838;
}

.route_register a {
    text-decoration: none;
    color: #034499;
    font-weight: 500;
    transition: color 0.3s;
}

.route_register a:hover {
    color: #0288d1;
}

.access_logo svg {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.access_logo svg g {
  fill: #0D47A1;
}


/* Media query per schermi molto piccoli */
@media only screen and (max-width: 400px) {
    .access_container {
        padding: 20px;
        border-radius: 15px;
    }
    
    .access {
        padding: 10px;
    }
}