/* Table Styles */

.table-wrapper {
    margin-top: 3vh;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);

    display: flex;
}

.fl-table {
    border-radius: 5px;
    font-size: 2.5vmin;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;

    display: grid;
    white-space: nowrap;
}

.fl-table thead tbody {
    display: flex;
}

.fl-table tbody {
    max-height: 50vh;
    overflow: auto;
}


.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
    border-right: 1px solid #0151bb;
}

.fl-table td {
    border-right: 1px solid #454545;
    font-size: 2vmin;

}

.fl-table img {
    max-width: 85%;
}

.fl-table thead th {
    color: #ffffff;
    background: #0061dc;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #0061dc;
}

.fl-table tr:active {
    background-color: #4caf4f7c;
}

.fl-table tr:nth-child(even) {
    background-color: #454545;
}

.fl-table tr:nth-child(even):active {
    background-color: #4caf4f7c;
}


.containerGrid {
    /* display: grid;  */
    padding-bottom: 3vh
}

.rowAlbum {
    display: flex;
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw
}

.rowAlbum .firstColumn {
    margin: auto;
    padding: 10px;
    display: block;
}

.firstColumn span {
    font-size: 2.5vmin;
}

.rowAlbum div {
    display: contents
}

.rowAlbum div button {
    width: 100%;
    padding: 1%;
    border: 1px solid #999999;
    font-size: 3vmin;
    padding-bottom: 11%;
}

.rowAlbum div button:disabled {
    padding-bottom: 0;
    padding: 1%;
}
.rowAlbum div button:disabled:hover,
button[disabled]:hover {
    background-color: #cccccc;
    border: 1px solid #999999;
    color: #666666;
    font-size: 3vmin;
    padding: 1%;
}

.rowAlbum div button img {
    max-width: 100%;
}

.rowAlbum div button:hover {
    margin-bottom: 0;
    border: 1px solid #1565C0;
    color: white;
    background-color: #1565C0;

}