/* Table Styles */

.table-wrapper{
    margin-top: 5vh;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 2.5vmin;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    /* white-space: nowrap; */
    /* background-color: white; */
}

.fl-table tr:active{
    background-color: #fdcc01;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    border-right: 1px solid #0151bb;
}

.fl-table td {
    border-right: 1px solid #454545;
    font-size: 2vmin;
    
}

.fl-table thead th {
    color: #ffffff;
    background: #0061dc;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #0061dc;
}

.fl-table tr:nth-child(even) {
    background-color: #454545;
}
.fl-table tr:nth-child(even):active {
    background-color: #fdcc01;
}

/* Responsive */

/* @media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom:  1px solid #0151bb;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        
        border-right:  1px solid #454545;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #454545;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
} */