.coinSelectList {
    display: flex;
    text-align: start;
    padding: 2vmin;
}

.coinImageList {
    text-align: start;
    padding: 0 2vmin 2vmin 2vmin;
}

.coinList li{
    margin-right: 1vw;
    display: inline;
}

.coinList li {
	padding:0;
	float:left;
	display: block;
	border: 1px solid #0151bb;
	position: relative;
}

.coinList li a {
    font-size: 2.5vmin;
	float: left;
	padding: 12px 20px;
	color: #fff;
	text-decoration:none;
}

.coinList li a:hover {
	background: #666;
	color:#fff
}


.coinList {
	padding:0;
}

.containerBox{
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.rowBox{
    max-height: 25vmin;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.rowBox>* {
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}


.columnBox {
    display: flex;
}

.left {
    max-width: 25%;
}

.right {
    max-width: 75%;
}

.imageBox {
    padding-right: 2vmin;
}

.imageCoin {
    text-align: center;
    max-width: 100%;
}
