.container-centered {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-text {
  text-align: center;
  margin-top: 10px;
}

.centered-text h1 {
  margin: 0;
  font-size: 70px;
  font-weight: 600;
  font-family: 'Lexend Deca', sans-serif !important;
  color: #ffa700;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #c87100, 1px 2px 0px #c87100, 1px 3px 0px #c87100,
    1px 4px 0px #c87100, 1px 5px 0px #c87100, 1px 6px 0px #c87100;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 1000px;
  padding: 10px;
  box-sizing: border-box;
}

.album {
  width: 50px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 10px 20px;
  transform-style: preserve-3d;
  transform: rotateY(0) translateZ(0);
  transition: transform 1s;
  position: relative;
}

.side {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  font-weight: bold;
  color: black;
  text-align: center;
  transform-origin: center left;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.spine {
  width: 50px;
  height: 280px;
  background-color: #d06061;
  border: none;
  border-radius: 10px;
  transform: rotateY(0deg) translateZ(0px);
}

.spine-img {
  bottom: 0px;
}

.spine-img img {
  height: 30px;
  width: 100%;
}

.spine-title {
  margin: 10px;
  font-size: 14px;
  color: #7d0028;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.spine-author {
  padding-bottom: 10px;
  width: 100%;
  color: #4a041a;
}

.top {
  width: 50px;
  height: 190px;
  top: 0px;
  background-image: linear-gradient(90deg, white 90%, gray 10%);
  background-size: 5px 5px;
  transform: rotateX(90deg) translateZ(95px) translateY(-95px);
}

.cover {
  width: 190px;
  height: 280px;
  top: 0px;
  background-image: url("../logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 50px;
  transform: rotateY(90deg) translateZ(0);
  transition: transform 1s;
}

.album:hover {
  z-index: 1;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.spine:hover {
  z-index: 1;
  background-color: #e03b3e;
}


@media screen and (max-width: 767px) {
  .bookshelf {
    width: 100% !important;
  }
  .centered-text h1 {
    font-size: 50px !important;
  }
}