.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper_accessPage {
   display: flex;
   justify-content: center;
 }
 
 .accessPage {
     margin: 2vw;
     display: flex;
     justify-content: center;
   }

.accessPageUser {
    width: 100%;
  }
 
 .accessPage_container {
     border-radius: 5%;
     display: flex;
     flex-direction: column;
     text-align: center;
     background-color: #e7f9fc;
     padding: 20px;
     box-shadow: 5px 7px #888888;
   }
 
   .accessPage_container .accessPage_header {
     padding-bottom: 2.5vmin;
     width: 20vw;
     /* height: 25vh; */
   }

   .accessPage_header p {
    font-size: 2vmin;
   }
   .accessPage_header h2 {
    font-size: 3vmin;
   }

   @media screen and (max-width: 768px) {
    .accessPage_btn {
      font-size: 14px;
    }
    
  }
 
   .accessPage_btn {
     width: 100%;
     padding: 5px;
     font-size: 18px;
     border: 1px solid #023476;
     color: white;
     background-color: #034499;
     text-decoration: none;
   }

   .accessPage_btn:hover {
    width: 100%;
    margin-bottom: 0;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #023476;
    color: white;
    background-color: #0152ba;
    text-decoration: none;
  }
 
   .accessPage_btn a {
     color: white;
     text-decoration: none;
   }
 
   .accessPage_logo svg {
     width: 40%;
     height: 40%;
   }
 
   .accessPage_logo svg g {
     fill: #0D47A1;
   }

   .userBox{
    margin: 2vw;
    display: flex;
    justify-content: center;
}

