.wrapper_accessPage {
   display: flex;
   justify-content: center;
   /* height: 100vh; */
 }
 
 .accessPage {
     margin: 2vw;
     display: flex;
     align-items: center;
     justify-content: center;
   }

.accessPageUser {
    margin: 2vw;
    /* margin-bottom:0; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
 .accessPage_container {
     border-radius: 5%;
     display: flex;
     flex-direction: column;
     text-align: center;
     background-color: #e7f9fc;
     padding: 20px;
     box-shadow: 5px 7px #888888;
   }
 
   .accessPage_container .accessPage_header {
     padding-bottom: 2.5vmin;
     width: 20vw;
     /* height: 25vh; */
   }

   .accessPage_header p {
    font-size: 2vmin;
   }
   .accessPage_header h2 {
    font-size: 3vmin;
   }

   @media only screen and (max-width: 600px) {
    .accessPage_container .accessPage_header {
      width: 25vw;
      height: 25vh;
    }

    .accessPageUser {
      margin-top: 20%;
      margin-bottom: 5vh;
    }
  }
 
   .accessPage_btn {
     width: 100%;
     padding: 10px;
     font-size: 18px;
     margin-bottom: 10px;
     border: 1px solid #023476;
     color: white;
     background-color: #034499;
     text-decoration: none;
   }
 
   .accessPage_btn a {
     color: white;
     text-decoration: none;
   }
 
   .accessPage_logo svg {
     width: 20vw;
     height: 10vh;
   }
 
   .accessPage_logo svg g {
     fill: #0D47A1;
   }

   .userBox{
    justify-content: center;
    display: flex;
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

