.insertColumn {
    /* padding-right: 2vmin; */
    height: 100%;
    /* display: flex; */
    flex: 1 0;
    flex-direction: column;
    /* align-items: flex-start; */
  }
  
  .insertColumn label {
    padding-top: 2vh;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .insertColumn input {
    font-size: 2.5vmin;
    width: 90%;
  }

  .insertColumn input[type="checkbox"] {
    height: 3vmin;
  }

  .insertColumn select {
    font-size: 2.5vmin;
    width: 90%;
    padding: 1px 2px;
  }
  
  .insertColumn button {
    margin-top: 2.5vh;
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vmin;
    cursor: pointer;
    padding: 10px;
  }
  
  
  .insertColumn button:hover {
    font-size: 2vmin;
    margin-bottom:0;
    background-color: #3e8e41;
  }

  @media only screen and (max-width: 600px) {
    .insertColumn label {
      padding-top: 2vh;
      font-size: 0.8rem;
      font-weight: bold;
      color: white;
    }

  }