.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../EUflag.svg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
  }

  .login_container {
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e7f9fc;
    padding: 30px;
  }

  .login_textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .login_btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px solid #023476;
    color: white;
    background-color: #034499;
  }
  
  .login div {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .route_register a, .route_resetPws a{
    text-decoration: none;
    color: #383838;
  }

  .route_register a:hover, a:active{
    color:green; 
  }

  .route_resetPws a:hover, a:active{
    color:green; 
  }

  .access_google {
    background-color: #ea4335;
    border:none;
  }

  .access_github {
    background-color: #2d2d2d;
    border:none;
  }

  .access_google:hover {
    background-color: #d13e30;
    border:none;
  }

  .access_github:hover {
    background-color: rgb(66, 66, 66);
    border:none;
  }


